/* Styles for the page */
html, * {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background-color: #ebebeb;
}

pre {
    width: 100%;
    padding: 10px;
    margin: 0;
    overflow: auto;
    background: #FFF;
    border: 1px solid #333;
}

.menu ul {
    background: #FFF;
    border: 1px solid #333;
    padding: 5px;
    position: fixed;
}

.menu li {
    list-style: none;  
}

.menu li a {
    margin-bottom: 10px;
    display: block;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: 180px 1fr;
    justify-content: space-between;
}

/* Styles for the flags container */
.flags {
    /* margin: 0 auto; */
}

.flag-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header"
        "flag flag-code";
    justify-items: center;
    margin-bottom: 80px;
}

.flags h2 {
    text-align: center;
    margin-top: 50px;
    grid-area: header;
}

.flag {
    grid-area: flag;
}

.flag-code {
    grid-area: flag-code;
    max-width: 300px
}

/* Styles for all flags */
.flag {
    width: 300px;
    height: 180px;
    position: relative;
}

/*Individual flag styles */
#lgbt {
    background: linear-gradient(
        to bottom,
        #e40303,
        #e40303 16.67%,
        #ff8c00 16.67%,
        #ff8c00 33.33%,
        #ffed00 33.33%,
        #ffed00 50%,
        #008026 50%,
        #008026 66.67%,
        #004dff 66.67%,
        #004dff 83.33%,
        #750787 83.33%,
        #750787
        );
}

#gilbert-baker {
    background: linear-gradient(
        to bottom,
        #ff69b3,
        #ff69b3 12.5%,
        #fe0000 12.5%,
        #fe0000 25%,
        #ff8e00 25%,
        #ff8e00 37.5%,
        #ff0 37.5%,
        #ff0 50%,
        #008d00 50%,
        #008d00 62.5%,
        #00c1c0 62.5%,
        #00c1c0 75%,
        #3f0097 75%,
        #3f0097 87.5%,
        #90008e 87.5%,
        #90008e
        );
}

#inclusive {
    background: linear-gradient(
        to bottom,
        #000,
        #000 12.5%,
        #784f16 12.5%,
        #784f16 25%,
        #e40303 25%,
        #e40303 37.5%,
        #ff8c00 37.5%,
        #ff8c00 50%,
        #ffed00 50%,
        #ffed00 62.5%,
        #008026 62.5%,
        #008026 75%,
        #004dff 75%,
        #004dff 87.5%,
        #750787 87.5%,
        #750787
        );
}

#bisexual {
    background: linear-gradient(
        to bottom,
        #d60270,
        #d60270 40%,
        #9a4f96 40%,
        #9a4f96 60%,
        #0039a9 60%,
        #0039a9
        );
}

#trans {
    background: linear-gradient(
        to bottom,
        #5ccefa,
        #5ccefa 20%,
        #f6a8b7 20%,
        #f6a8b7 40%,
        #FFF 40%,
        #FFF 60%,
        #f6a8b7 60%,
        #f6a8b7 80%,
        #5ccefa 80%,
        #5ccefa
        );
}

#pansexual {
    background: linear-gradient(
        to bottom,
        #ff218c,
        #ff218c 33.33%,
        #fed800 33.33%,
        #fed800 66.67%,
        #21b1ff 66.67%,
        #21b1ff
        );
}

#polysexual {
    background: linear-gradient(
        to bottom,
        #f61bb9,
        #f61bb9 33.33%,
        #07d669 33.33%,
        #07d669 66.67%,
        #1c92f5 66.67%,
        #1c92f5
        );
}

#genderqueer {
    background: linear-gradient(
        to bottom,
        #b67edc,
        #b67edc 33.33%,
        #FFF 33.33%,
        #FFF 66.67%,
        #4b8124 66.67%,
        #4b8124
        );
}

#asexual {
    background: linear-gradient(
        to bottom,
        #000000,
        #000000 25%,
        #a3a3a3 25%,
        #a3a3a3 50%,
        #FFF 50%,
        #FFF 75%,
        #820080 75%,
        #820080
        );
}

#non-binary {
    background: linear-gradient(
        to bottom,
        #fdf52f,
        #fdf52f 25%,
        #FFF 25%,
        #FFF 50%,
        #9d5ad2 50%,
        #9d5ad2 75%,
        #000000 75%,
        #000000
        );
}

#genderfluid {
    background: linear-gradient(
        to bottom,
        #fe75a1,
        #fe75a1 20%,
        #FFF 20%,
        #FFF 40%,
        #be16d5 40%,
        #be16d5 60%,
        #000000 60%,
        #000000 80%,
        #333ebc 80%,
        #333ebc
        );
}

#lesbian {
    background: linear-gradient(
        to bottom,
        #d12601,
        #d12601 20%,
        #ff8f45 20%,
        #ff8f45 40%,
        #FFF 40%,
        #FFF 60%,
        #cf559b 60%,
        #cf559b 80%,
        #9b1a58 80%,
        #9b1a58
        );
}

#aromantic {
    background: linear-gradient(
        to bottom,
        #309c34,
        #309c34 20%,
        #9dce69 20%,
        #9dce69 40%,
        #FFF 40%,
        #FFF 60%,
        #a0a0a0 60%,
        #a0a0a0 80%,
        #000000 80%,
        #000000
        );
}

#intersex {
    background: #ffd800;
}
#intersex:before {
    width: 100px;
    height: 100px;
    background: #7902aa;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: calc(50% - 50px);
    top: calc(50% - 50px);
}
#intersex:after {
    width: 80px;
    height: 80px;
    background: #ffd800;
    border-radius: 50%;
    content: "";
    position: absolute;
    left: calc(50% - 40px);
    top: calc(50% - 40px);
}

#leather {
    background: linear-gradient(
        to bottom,
        #000000,
        #000000 11.1%,
        #18186c 11.1%,
        #18186c 22.2%,
        #000000 22.2%,
        #000000 33.3%,
        #18186c 33.3%,
        #18186c 44.4%,
        #FFF 44.4%,
        #FFF 55.5%,
        #18186c 55.5%,
        #18186c 66.6%,
        #000000 66.6%,
        #000000 77.7%,
        #18186c 77.7%,
        #18186c 88.8%,
        #000000 88.8%,
        #000000
        );
}
#leather:before,
#leather:after {
    position: absolute;
    content: "";
    left: 80px;
    top: 15px;
    width: 40px;
    height: 60px;
    background: #e8003a;
    border-radius: 50px 50px 0 0;
    transform: rotate(-80deg);
    transform-origin: 0 100%;
}
#leather:after {
    left: 40px;
    transform: rotate(10deg);
    transform-origin: 100% 100%;
}

#progressive {
    background: linear-gradient(
        to bottom,
        #e40303,
        #e40303 16.67%,
        #ff8c00 16.67%,
        #ff8c00 33.33%,
        #ffed00 33.33%,
        #ffed00 50%,
        #008026 50%,
        #008026 66.67%,
        #004dff 66.67%,
        #004dff 83.33%,
        #750787 83.33%,
        #750787
        );
    overflow: hidden;
}
#progressive:before {
    position: absolute;
    content: "";
    left: -94px;
    top: -91px;
    width: 130px;
    height: 90px;
    background: linear-gradient(
        to bottom,
        #FFF,
        #FFF 40%,
        #f6a8b7 40%,
        #f6a8b7 55%,
        #5ccefa 55%,
        #5ccefa 70%,
        #784f16 70%,
        #784f16 85%,
        #000000 85%,
        #000000
        );
    transform: rotate(-135deg) skew(-45deg);
    transform-origin: 100% 100%;
}
#progressive:after {
    position: absolute;
    content: "";
    left: -3px;
    top: 0px;
    width: 130px;
    height: 90px;
    background: linear-gradient(
        to bottom,
        #FFF,
        #FFF 40%,
        #f6a8b7 40%,
        #f6a8b7 55%,
        #5ccefa 55%,
        #5ccefa 70%,
        #784f16 70%,
        #784f16 85%,
        #000000 85%,
        #000000
        );
    transform: rotate(-45deg) skew(45deg);
    transform-origin: 100% 100%;
}

#puppy {
    background: linear-gradient(
        30deg,
        #000000,
        #000000 10%,
        #18186c 10%,
        #18186c 20%,
        #000000 20%,
        #000000 30%,
        #18186c 30%,
        #18186c 40%,
        #FFF 40%,
        #FFF 60%,
        #18186c 60%,
        #18186c 70%,
        #000000 70%,
        #000000 80%,
        #18186c 80%,
        #18186c 90%,
        #000000 90%,
        #000000
        );
}
#puppy:before {
    content: "";
    position: absolute;
    top: 62px;
    bottom: 62px;
    left: 80px;
    right: 80px;
    background: 
        radial-gradient(farthest-side,#eb3323 95%,transparent 100%) top    left,
        radial-gradient(farthest-side,#eb3323 95%,transparent 100%) top    right,
        radial-gradient(farthest-side,#eb3323 95%,transparent 100%) bottom left,
        radial-gradient(farthest-side,#eb3323 95%,transparent 100%) bottom right;
    background-size: 40px 30px;
    background-repeat: no-repeat
}
#puppy:after {
    content: "";
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 60px);
    height: 40px;
    width: 120px;
    background: #eb3323;
}

#agender {
    background: linear-gradient(
        to bottom,
        #000000,
        #000000 8.33%,
        #bcc4c7 8.33%,
        #bcc4c7 25%,
        #FFF 25%,
        #FFF 41.67%,
        #b7f584 41.67%,
        #b7f584 58.33%,
        #FFF 58.33%,
        #FFF 75%,
        #bcc4c7 75%,
        #bcc4c7 91.67%,
        #000000 91.67%,
        #000000
        );
}

#demisexual {
    background: linear-gradient(
        to bottom,
        #FFF,
        #FFF 40%,
        #66226a 40%,
        #66226a 60%,
        #d3d1d4 60%,
        #d3d1d4
        );
}
#demisexual:before {
    content: "";
    width: 0;
    height: 0;
    border-right: 90px solid transparent;
    border-bottom: 120px solid #000;
    border-left: 90px solid transparent;
    transform: rotate(90deg);
    display: block;
    position: absolute;
    top: 30px;
    left: -30px;
}